body{
    color: rgb(78, 5, 78);
    background-color: rgb(208, 196, 252);}

.app {
    color: purple;
    background-color: rgb(208, 196, 252);
}

.h1, h2, h3, h4 {
    color: #1f0133;
    font-weight: bold;
}